*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* here Abir's Navbar will be added */
.nav{
    height: 40px;
    width: 100%;
    color:black;
    background-color: gray;
}

/* end of nav */



/* header section */
.header{
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;;
}
.header .header-text{
    margin-top: 10%;
    color:whitesmoke;
    font-size: 6vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
}
.header-paragragh{
    color: whitesmoke;
    font-size: 3vw;
    
}
.header-paragragh span{
    color: orangered;font-weight: bold;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
}
.header-paragragh span::before{
    content: '';
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{
        content: 'Dream';
    }
    50%{
        content: 'Home';
    }
    100%{
        content: 'Shelter';
    }

}

.button1{
    margin-top: 5%;
    display: inline-block;
     text-align:center;
     color: white;
     text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
     text-decoration: none;
     height: 50px;
     width: 120px;
     border: 2px solid white; 
     font-size: 18px;
     border-radius: 10px;
     transition: .6s;
}

.button1:hover{
    transition: 1.1s;
    background:orangered;
    box-shadow: 5px 3px 6px 2px black;
    border: none;
    width: 200px;
    text-decoration: none;
    color: whitesmoke;
    
}
/* end of header */

/* About Section */
.about{
    width: 90%;
    /* height: 100vh; */
    text-align: center;
    margin: 2% auto;
    
}

.slide-content{
    background: white;
    display: flex;
}
.slide-content .slide-boxa{
    flex: 3;
    height: 70vh;
    background-image: url(../images/vector3.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-content .slide-boxb{
    flex: 2;
    text-align: center;
    margin-top: 5%;
    padding-left: 4px;
    height: 50vh;
    font-size: 20px;
    
}
/*  */
.slide-content .slide-boxc{
    flex: 3;
    height: 70vh;
    background-image: url(../images/aboutimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-content .slide-boxd{
    flex: 2;
    text-align: center;
    margin-top: 5%;
    padding-left: 4px;
    height: 50vh;
    font-size: 20px;
  
}
/*  */
.slide-content .slide-boxe{
    flex: 3;
    height: 70vh;
    background-image: url(../images/vector2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-content .slide-boxf{
    flex: 2;
    text-align: center;
    margin-top: 5%;
    padding-left: 4px;
    height: 50vh;
    font-size: 20px;
}


@media (min-width: 350px) {
    div.box {
      height: 60%;
    }
    div.content{
        font-size: 3vw;
        margin-top: 5%;
    }

   .slider-text{

       font-size: 16px;
       margin-top: 5%;
   }

  }

/* end of About Section */
/* project section starts here */
.box{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right top, #051937, #4c275b, #982c61, #d34549, #eb7f12);
    display: flex;
    box-sizing: border-box;
}
.imagebox{
    flex: 4;
    background-color: whitesmoke;
   clip-path:polygon(0 0, 75% 0, 100% 100%, 0% 100%);
   
    
}

.content{
    flex: 3;
    background: transparent;
    box-sizing: border-box;

}

.button2{
    margin-top: 5%;
    display: inline-block;
     text-align:center;
     color: white;
     text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
     text-decoration: none;
     height: 50px;
     width: 120px;
     border: 2px solid white; 
     font-size: 18px;
     border-radius: 10px;
     transition: .6s;
}

.button2:hover{
    transition: 1.1s;
    background:transparent;
    border: 2px solid white;
    width: 160px;
    text-decoration: none;
    color: whitesmoke;
    
}


.service .box-container{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right top, #051937, #4c275b, #982c61, #d34549, #eb7f12);
    display: flex;
    box-sizing: border-box;
}
.servicebox{
    flex: 4;
    background-color: whitesmoke;

clip-path: polygon(0 0, 100% 0, 66% 100%, 0% 100%);
   
    
}

/* we can use these font styles
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; */